

.navbar{

position:fixed;
top:0;
width:100%;

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:rgba(8,17,31,0.8);

backdrop-filter:blur(10px);

z-index:1000;

}


.logo{

color:#38bdf8;
font-size:28px;

}



.nav-links{

display:flex;
gap:30px;

}


.nav-links a{

color:white;
text-decoration:none;

font-size:17px;

transition:.3s;

}


.nav-links a:hover{

color:#38bdf8;

}


.menu{

display:none;

color:white;

font-size:28px;

cursor:pointer;

}



/* Mobile */

@media(max-width:768px){


.menu{

display:block;

}



.nav-links{

position:absolute;

top:80px;
right:0;

width:220px;

background:#08111f;

flex-direction:column;

padding:30px;

display:none;

}



.nav-links.active{

display:flex;

}


}