
.navbar{

position:fixed;

top:0;

left:0;

width:100%;

padding:20px 8%;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(8,17,31,.85);

backdrop-filter:blur(10px);

z-index:1000;

}

.logo{

font-size:28px;

font-weight:700;

color:#38bdf8;

}

.navbar ul{

display:flex;

gap:35px;

list-style:none;

}

.navbar a{

color:white;

transition:.3s;

}

.navbar a:hover{

color:#38bdf8;

}